$themes: (
  light: (
    primary: #14aaed,
    accent: #ffd436,
    secondary: #dce1eb,
    accent-dark: #ffb122,
    brand-black: #211d1e,
    brand-green: #38b349,
    brand-red: #f4756a,
    brand-indigo: #937dfb,
    background-color: #ffffff,
  ),
  // FOR DARK THEME
  dark: (),
);
